.card__title {
    width: 20%;
}
.card__project {
    width: 20%;
}
.card__id{
    width: 20%;
    font-weight: bold;
    font-size:larger;
    color: black;
}

.card {
    padding: 8px;
    margin: 24px;
    background: #fdfdfe;
    display: flex;
    align-items: center;
    border: 2px solid #d2e2ed;
    justify-content: space-between;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.10);
    color: #5993bc;

}

.card__button {
    border: none;
    padding: 8px 24px;
    cursor: pointer;
    margin: 16px;
    background: #5993bc;
    font-weight:  bold;
    color: #fdfdfe
}
.card__deleteButton{
    border: 1px solid #b30037;
    padding: 8px 24px;
    cursor: pointer;
    margin: 16px;
    background: #fdfdfe;
    font-weight:  bold;
    color: #b30037
}

