.title__detail {
    width: 20%;
}
.project__detail {
    width: 20%;
}
.id__detail{
    font-weight: bold;
    border: 2px solid #d2e2ed;
    width: fit-content;
    background: #66267b;
    color: #f0f0f0;
    padding: 8px;
    border-radius: 20px;


}

.card__detail {
    padding: 16px;
    margin: 24px;
    background: #fdfdfe;
    display: block;
    border: 2px solid #d2e2ed;
    justify-content: flex-start;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.10);

}
.steps__detail{
    border: 2px solid #d2e2ed;
    height: 15vh;


}
.card__buttonToMain {
    border: none;
    padding: 8px 24px;
    cursor: pointer;
    background: #5993bc;
    font-weight:  bold;
    color: #fdfdfe
}
.card__buttonDelete{
    border: 1px solid #b30037;
    padding: 7px 24px;
    cursor: pointer;
    background: #fdfdfe;
    font-weight:  bold;
    color: #b30037;
    margin-left: 8px;

}
.card-detail__ul {
    display: flex;
}

