body{
    position: relative;
    background: #e9f0f6;
    height: 100vh;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 10vh ;
    background: #2c3e50;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.wrapper {
    min-height: 100%;

}


.header__logo{
    width: auto;
    height: 100%;
}
.header__title{
    display: flex;
    height: 100%;
    color: #e9f0f6;
}

.navigate {
    display: flex;
    color: #e9f0f6;
    align-items: center;
}
.navigate__ul {
    display: flex;
    color: #e9f0f6;

}
.navigate__button {
    border: none;
    padding: 8px 24px;
    cursor: pointer;
    margin: 16px;
    background: #e9f0f6;
    font-weight:  bold;
    color: #2c3e50

}

.main__title {
    margin-left: 40px;
}
.create__button {
    cursor: pointer;
    padding: 14px;
    margin: 24px;
    background: #fdfdfe;
    display: flex;
    align-items: center;
    border: 2px solid #d2e2ed;
    justify-content: space-between;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.10);
    color: #5993bc;
}

.navigate__link{
    color: #e9f0f6;
}